@font-face {
    font-family: 'nimbus_sans_lregular';
    src: url('fonts/NimbusSanL-Reg-webfont.eot');
    src: url('fonts/NimbusSanL-Reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/NimbusSanL-Reg-webfont.woff2') format('woff2'),
         url('fonts/NimbusSanL-Reg-webfont.woff') format('woff'),
         url('fonts/NimbusSanL-Reg-webfont.ttf') format('truetype'),
         url('fonts/NimbusSanL-Reg-webfont.svg#nimbus_sans_lregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

