#canvasWrapper {
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
}

#canvas {
	padding: 50px;
}

#headerWrapper {
    float: none;
    z-index: 1000;
    padding-bottom: 20px;
}

.nav {
	font-family: 'Inconsolata', monospace;
	font-size: 12px;
    line-height: 1.6em;
    font-weight: 400;
    font-style: normal;
}

#logo {
	margin-bottom: 20px;
}
